In [ ]:
# Option 2: Academy of Py

In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Read Both of the CSVs into the notebook
school_data = pd.read_csv("Resources/schools_complete.csv")
student_data = pd.read_csv("Resources/students_complete.csv")

#Rename Columns so that the two can be merged together
school_data.rename(columns = {'name': 'school'}, inplace = True)

merged_data = student_data.merge(school_data, how = 'left', on = 'school')

In [3]:
# Distric Summary Questions

#Total Schools
total_schools = school_data.shape[0]

#Total Students
total_students = school_data['size'].sum()

#Total School Budget
school_budget = school_data['budget'].sum()

#Percent of Students Passing Math
pass_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
pass_math_percent = pass_math/total_students

#Percent of Students Passing Reading
pass_reading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
pass_reading_percent = pass_reading/total_students

#Average Math Score
average_math_score = student_data['math_score'].mean()

#Average Reading Score
average_reading_score = student_data['reading_score'].mean()

#Overall Passing Rate
overall_pass = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['name'].count()/total_students

#Create the Table  
district_summary_questions = pd.DataFrame ({'Total Schools': [total_schools],
     'Total Students': [total_students],
     'Total Budget': [school_budget],
     'Average Math Score':[average_math_score],
     'Average Reading Score':[average_reading_score],
     'Percent of Students Passing Math': [pass_math],
     'Percent of Students Passing Reading': [pass_reading],
     'Overall Passing Rate': [overall_pass]})

#Put the columns in order to match the question
district_summary_questions = district_summary_questions[['Total Schools',
     'Total Students',
     'Total Budget',
     'Average Math Score',
     'Average Reading Score',
     'Percent of Students Passing Math',
     'Percent of Students Passing Reading',
     'Overall Passing Rate',]]

#Print the Table
district_summary_questions

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,29370,33610,0.651723

In [4]:
#School Summary Questions

#School Name - group the data by school
school_group = merged_data.set_index('school').groupby(['school'])

#School Type
school_type = school_data.set_index('school')['type']

#Total Students Per School
students_per_school = merged_data['Student ID'].count()

#Total School Budget
school_budget = school_data.set_index('school')['budget']

#Per Student Budget
per_student_budget = school_data.set_index('school')['budget']/school_data.set_index('school')['size']

#Average Math Score
avgerage_math = school_group['math_score'].mean()

#Average Reading Score
avgerage_reading = school_group['reading_score'].mean()

#Percent Passing Math
passing_math = merged_data[merged_data['math_score'] >= 70].groupby('school')['Student ID'].count()/students_per_school

#Percent Passing Reading
passing_reading = merged_data[merged_data['reading_score'] >= 70].groupby('school')['Student ID'].count()/students_per_school


#Overall Passing Rate
overall_passing = merged_data[(merged_data['reading_score'] >= 70) & (merged_data['math_score'] >= 70)].groupby('school')['Student ID'].count()/students_per_school

#Create a dictionary for the school questions to turn into a a table
school_summary_questions = pd.DataFrame({
    'School Type': school_type,
    'Total Students': students_per_school,
    'Per Student Budget': per_student_budget,
    'Total School Budget': school_budget,
    'Average Math Score': avgerage_math,
    'Average Reading Score': avgerage_reading,
    'Percent of Students Passing Math': passing_math,
    'Percent of Students Passing Reading': passing_reading,
    'Overall Passing Rate': overall_passing})

#Put the columns in order to match the question
school_summary_questions = school_summary_questions[[ 
    'School Type',
    'Total Students',
    'Per Student Budget',
    'Total School Budget',
    'Average Math Score',
    'Average Reading Score',
    'Percent of Students Passing Math',
    'Percent of Students Passing Reading',
    'Overall Passing Rate']]
    
#Print the Table
school_summary_questions

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
Bailey High School,District,39170,628.0,3124928,77.048432,81.033963,0.084708,0.104085,0.069415
Cabrera High School,Charter,39170,582.0,1081356,83.061895,83.975780,0.044652,0.046030,0.043324
Figueroa High School,District,39170,639.0,1884411,76.711767,81.158020,0.049681,0.060786,0.040056
Ford High School,District,39170,644.0,1763916,77.102592,80.746258,0.047766,0.055451,0.037963
Griffin High School,Charter,39170,625.0,917500,83.351499,83.816757,0.035001,0.036405,0.033955
Hernandez High School,District,39170,652.0,3022020,77.289752,80.934412,0.078989,0.095685,0.063339
Holden High School,Charter,39170,581.0,248087,83.803279,83.814988,0.010084,0.010493,0.009727
Huang High School,District,39170,655.0,1910635,76.629414,81.182722,0.048915,0.060557,0.039852
Johnson High School,District,39170,650.0,3094650,77.072464,80.966394,0.080291,0.098724,0.065075
Pena High School,Charter,39170,609.0,585858,83.839917,84.044699,0.023232,0.023564,0.022236
Rodriguez High School,District,39170,637.0,2547363,76.842711,80.744686,0.067756,0.081899,0.054098
Shelton High School,Charter,39170,600.0,1056600,83.359455,83.725724,0.042201,0.043094,0.040414
Thomas High School,Charter,39170,638.0,1043130,83.418349,83.848930,0.038933,0.040618,0.037963
Wilson High School,Charter,39170,578.0,1319574,83.274201,83.989488,0.054710,0.056268,0.052796
Wright High School,Charter,39170,583.0,1049400,83.682222,83.955000,0.042890,0.044396,0.041511

In [5]:
#Top Performing Schools (By Passing Rate) Questions

#School Name
#School Type
#Total Students
#Total School Budget 
#Per Student Budget
#Average Math Score
#Average Reading Score
#Percent Passing Math
#Percent Passing Reading
#Overall Passing Rate
top_performing_schools = school_summary_questions.sort_values(by=['Overall Passing Rate'],ascending=False).head(5)

#Put the columns in order to match the question
top_performing_schools = top_performing_schools[[ 
    'School Type',
    'Total Students',
    'Per Student Budget',
    'Total School Budget',
    'Average Math Score',
    'Average Reading Score',
    'Percent of Students Passing Math',
    'Percent of Students Passing Reading',
    'Overall Passing Rate']]
    
#Print Table
top_performing_schools

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
Bailey High School,District,39170,628.0,3124928,77.048432,81.033963,0.084708,0.104085,0.069415
Johnson High School,District,39170,650.0,3094650,77.072464,80.966394,0.080291,0.098724,0.065075
Hernandez High School,District,39170,652.0,3022020,77.289752,80.934412,0.078989,0.095685,0.063339
Rodriguez High School,District,39170,637.0,2547363,76.842711,80.744686,0.067756,0.081899,0.054098
Wilson High School,Charter,39170,578.0,1319574,83.274201,83.989488,0.054710,0.056268,0.052796

In [6]:
#Bottom Performing Schools (By Passing Rate) Questions
bottom_performing_schools = school_summary_questions.sort_values(by=['Overall Passing Rate']).head(5)

#Put the columns in order to match the question
bottom_performing_schools = bottom_performing_schools[[ 
    'School Type',
    'Total Students',
    'Per Student Budget',
    'Total School Budget',
    'Average Math Score',
    'Average Reading Score',
    'Percent of Students Passing Math',
    'Percent of Students Passing Reading',
    'Overall Passing Rate']]

#Print Table
bottom_performing_schools

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
Holden High School,Charter,39170,581.0,248087,83.803279,83.814988,0.010084,0.010493,0.009727
Pena High School,Charter,39170,609.0,585858,83.839917,84.044699,0.023232,0.023564,0.022236
Griffin High School,Charter,39170,625.0,917500,83.351499,83.816757,0.035001,0.036405,0.033955
Ford High School,District,39170,644.0,1763916,77.102592,80.746258,0.047766,0.055451,0.037963
Thomas High School,Charter,39170,638.0,1043130,83.418349,83.848930,0.038933,0.040618,0.037963

In [7]:
#Math Scores by Grade
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school')["math_score"].mean()

math_scores = pd.DataFrame({
        '9th': ninth_math,
        '10th': tenth_math,
        '11th': eleventh_math,
        '12th': twelfth_math})

#Put the columns in order to match the question
math_scores = math_scores[[ 
    '9th',
    '10th', 
    '11th' ,
    '12th' ,]]

#Print Table
math_scores

                             9th       10th       11th       12th
school
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [8]:
#Reading Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school')["reading_score"].mean()

reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading })

#Put the columns in order to match the question
reading_scores = reading_scores[[ 
    '9th',
    '10th', 
    '11th' ,
    '12th' ,]]

#Print Table
reading_scores

                             9th       10th       11th       12th
school
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [9]:
#Scores by School Size

#Make the bins
bins = [0, 999, 1999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
merged_data['size_bins'] = pd.cut(merged_data['size'], bins, labels = group_name)

#Group the data together by spending
by_size = merged_data.groupby('size_bins')

#Calculations
avgerage_math = by_size['math_score'].mean()

avgerage_reading = by_size['reading_score'].mean()

pass_math = merged_data[merged_data['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()

pass_reading = merged_data[merged_data['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()

overall = merged_data[(merged_data['reading_score'] >= 70) & (merged_data['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()

            
#Create the Chart           
scores_by_size = pd.DataFrame({
    'Average Math Score': avgerage_math,
    'Average Reading Score': avgerage_reading,
    'Percent of Students Passing Math': pass_math,
    'Percent of Students Passing Reading': pass_reading,
    'Overall Passing Rate': overall
            
})
            
#Organize the chart based on the question
scores_by_size = scores_by_size[[
    'Average Math Score',
    'Average Reading Score',
    'Percent of Students Passing Math',
    'Percent of Students Passing Reading',
    'Overall Passing Rate'
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

scores_by_size

,Average Math Score,Average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
Total Students,,,,,
Small (<1000),83.828654,83.974082,0.939525,0.960403,0.901368
Medium (1000-2000),83.372682,83.867989,0.936165,0.967731,0.906243
Large (>2000),77.477597,81.198674,0.686524,0.821252,0.565740

In [10]:
#Scores by School Type

#Group the schools together by type
school_type = merged_data.groupby("type")

#Calculations - reapeat what you just did 
average_math = school_type['math_score'].mean()
avgrage_reading = school_type['reading_score'].mean()
pass_math = merged_data[merged_data['math_score'] >= 70].groupby('type')['Student ID'].count()/school_type['Student ID'].count()
pass_reading = merged_data[merged_data['reading_score'] >= 70].groupby('type')['Student ID'].count()/school_type['Student ID'].count()
overall = merged_data[(merged_data['reading_score'] >= 70) & (merged_data['math_score'] >= 70)].groupby('type')['Student ID'].count()/school_type['Student ID'].count()

#Create the chart     
scores_by_type = pd.DataFrame({
    'Average Math Score': average_math,
    'Average Reading Score': avgrage_reading,
    'Percent of Students Passing Math': pass_math,
    'Percent of Students Passing Reading': pass_reading,
    'Overall Passing Rate': overall})
    
#Organize the chart based on the question
scores_by_type = scores_by_type[[
    'Average Math Score',
    'Average Reading Score',
    'Percent of Students Passing Math',
    'Percent of Students Passing Reading',
    'Overall Passing Rate'
]]

scores_by_type

,Average Math Score,Average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
type,,,,,
Charter,83.406183,83.902821,0.937018,0.966459,0.905609
District,76.987026,80.962485,0.665184,0.809052,0.536959

In [ ]:
#Three Observable Trends

#One: The overall top performing schools have a higher total budget

#Two: The larger the school size is, the lower the overall passing rate is

#Three: Charter Schools tend to perform better than District Schools